body {
	background-color: olivedrab;
	}
section {
	background-color: darkolivegreen;
	max-width: 700px;
	padding: .5em;
	margin: 0 auto;
	position: relative;
	}
img {
	border-radius: 5px;
	}
header img {
	margin: 0;
	padding: 0;
	border-radius: 15px;
	position: absolute;
	left: 1em;
	top: 1em;
	z-index: 1;
	}
header h1 {
	font-size: 400%;
	position: absolute;
	left: 2em;
	top: -0.05em;
	z-index: 3;
	color: burlywood;
	text-shadow: 3px 3px 3px darkgoldenrod;
	}
header hr {
	margin-top: 8em;
	}
hr {
	height: 2px;
	border-width: 0;
	background-color: bisque;
	}
nav ul li {
	display: inline;
	list-style-type: none;
	padding: 0.25em;
	margin: 0.25em 0;
	background: #B8944D;
	}
legend {
	color: burlywood;
	}
.title {
	font-size: xx-large;
	font-weight: bolder;
	text-align: center;
	color: bisque;
	}
#smfpic {
	float: right;
	padding: 0;
	margin: 0;
	margin-left: 2em;
	margin-right: 0.5em;
	margin-top: 0.3em
	}
aside {
	width: 55%;
	border-style: groove;
	border-color: bisque;
	border-width: thick;
	border-radius: 20px;
	text-align: justify;
	float: right;
	padding: 1em;
	margin: 0.5em;
	color: darkkhaki;
	}
fieldset {
	border-radius: 25px;
	border-width: medium;
	border-style: ridge;
	border-color: bisque;
	}
.tpicenter {
	width: 55%;
	margin: auto;
}
.yoincenter {
	width: 50%;
	margin: auto;
	}
.italic {
	font-style: italic;
	}
.bold {
	font-weight: bold;
	}
figcaption {
	font-size: small;
	font-style: italic;
	}
figcaption a:link {
	color: blanchedalmond;
	}
figcaption a:visited {
	color: burlywood;
	}
a {
	word-wrap: break-word;
	}
details li {
	list-style-type: none;
	}
a:link {
	color: blanchedalmond;
	}
a:visited {
	color: burlywood;
	}
nav li a:link {
	color: black;
	text-decoration: none;
	}
nav li a:visited {
	color: black;
	text-decoration: none;
	}
nav li a:hover {
	text-decoration: underline;
	}
footer {
	text-align: center;
	}
footer a:link {
	color: blanchedalmond;
	}
footer a:visited {
	color: burlywood;
	}